<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <small>Os campos marcados com * são de preenchimente obrigatório</small>
  <br />
  <br />
  <div class="field">
    <%= f.label :name, "Nome*" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail*" %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_1, "Telefone primario*" %><br />
    <%= f.text_field :phone_1 %>
  </div>
  <div class="field">
    <%= f.label :phone_2, "Telefone secundario" %><br />
    <%= f.text_field :phone_2 %>
  </div>
  <div class="field">
    <%= f.label :address, "Endereço*" %><br />
    <%= f.text_field :address %>
  </div>
  <% if request.params[:action] == "new" %>
    <div class="field">
      <%= f.label :confirm, "Arquivo de confirmação*" %><br />
      <%= f.file_field :confirm %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Inscrever-me" %>
  </div>
<% end %>
