<%= form_for(@applicant, url: @url, method: @method, authenticity_token: true) do |f| %>
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <small>Os campos marcados com * são de preenchimente obrigatório</small>
  <br />
  <br />
  <div class="field">
    <%= f.text_field :name, placeholder: "Nome*" %>
  </div>
  <div class="field">
    <%= f.text_field :last_name, placeholder: "Sobrenome*" %>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: "Email*" %>
  </div>
  <div class="field">
    <%= f.text_field :phone_1, placeholder: "Telefone*" %>
  </div>
  <div class="field">
    <%= f.text_field :organization, placeholder: "Organização / Área de atuação" %>
  </div>
  <div class="field">
    <%= f.text_field :address, placeholder: "Endereço*" %>
  </div>

  <div class="field padding">
    <label>Anexo do documento de confirmação: <p>Pedimos esse documento, pois
    as vagas do evento são limitadas. Ex.: Print da passagem para Curitiba,
    ou sua reserva de hotel.</p>
    <br />
    <%= f.file_field :confirm, id: "arquivo-btn" %>
  </div>

  <h5>* Campo obrigatório.</h5>

  <div class="actions">
    <%= f.submit "Enviar >", id: "enviar-btn" %>
  </div>

<% end %>
