<p id="notice"><%= notice %></p>

<h1>Lista de participantes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone primario</th>
      <th>Telefone secundario</th>
      <th>Inscrição manual</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.phone_1 %></td>
        <td><%= applicant.phone_2 %></td>
        <td>
          <%= link_to "Inscrição manual", 
                      "/new_applicant/#{applicant.confirmation_token}" %>
        </td>
        <td><%= applicant.address %></td>
        <td><%= link_to 'Exibir', applicant %></td>
        <td><%= link_to 'Editar', edit_applicant_path(applicant) %></td>
        <td>
          <%= link_to 'Excluir', 
            applicant, 
            method: :delete, 
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Importar arquivo de emails', email_list_index_path %>
