<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Telefone primario:</strong>
  <%= @applicant.phone_1 %>
</p>

<p>
  <strong>Telefone secundario:</strong>
  <%= @applicant.phone_2 %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @applicant.address %>
</p>

<p>
  <strong>Confirmação:</strong>
  <%= link_to "Baixar arquivo de confirmação", @applicant.confirm.url %>
</p>

<%= link_to 'Editar', edit_applicant_path(@applicant) %> |
<%= link_to 'Voltar', applicants_path %>
