<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Phone 1:</strong>
  <%= @applicant.phone_1 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @applicant.phone_2 %>
</p>

<p>
  <strong>Confirmation token:</strong>
  <%= @applicant.confirmation_token %>
</p>

<p>
  <strong>Address:</strong>
  <%= @applicant.address %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
